table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}
th,
td {
  border-top: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr.selected {
  background-color: #e0e0e0;
}
input[type="checkbox"] {
  margin-right: 5px;
}

tr:hover {
  background-color: #ededed;
}

.edit-btn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #0772e3;
  color: #ffffff;
  margin-right: 5px;
}

.delet-btn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #f5360d;
  color: #ffffff;
}

.edit-btn,
.delet-btn {
  cursor: pointer;
}
